---
---

@import "jekyll-theme-minimal";

.header-link {
    position: relative;
    left: -100px;
    opacity: 0;
  
    \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
    \-moz-transition: opacity 0.2s ease-in-out 0.1s;
    \-ms-transition: opacity 0.2s ease-in-out 0.1s;
  }
  
  h1:hover .header-link,
  h2:hover .header-link,
  h3:hover .header-link,
  h4:hover .header-link,
  h5:hover .header-link,
  h6:hover .header-link {
    opacity: 1;
  }